<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn2Code</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> It Works! </h1>
      <p class="subtitle">
        Congratulations, you have successfully started <b>Learn2Code</b> Web App.
      </p>

      <ul>
        <li>
          The route for this page is defined inside <code>start/routes.ts</code> file
        </li>

        <li>
          You can update this page by editing <code>resources/views/welcome.edge</code> file
        </li>

        <li class="flex">
          <p color="purple">AdonisJS</p>
          <p color="deep-blue">TypeScript</p>
          <p color="yellow">Javascript</p>
          <p color="red">CSS</p>
          <p color="green">SCSS</p>
        </li>
      </ul>
    </div>
    @if(!auth.user)
      <form method="post" action="{{ route('auth.register') }}">
        <div>
          <label for="email">E-Mail</label>
          <input type="email" name="email" placeholder="email" id="email">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" id="password">
        </div>
        <button type="submit">Register</button>
      </form>
      <small>To Login Use: admin@mail.com or user@mail.com with password > Password123!</small>
      <form method="post" action="{{ route('auth.login') }}">
        <div>
          <label for="email">E-Mail</label>
          <input type="email" name="email" placeholder="email" id="email">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" id="password">
        </div>
        <button type="submit">Login</button>
      </form>
    @else
      @if(auth.user.isAdmin)
        <p>Admin User <br /> {{ auth.user.email }}</p>
      @else
        <p>Regular User <br /> {{ auth.user.email }}</p>
      @endif
      <a href="{{ route('auth.logout') }}">Logout</a>
    @endif
  </main>
</body>
</html>
