<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn2Code</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> It Works! </h1>
      <p class="subtitle">
        Congratulations, you have successfully started <b>Learn2Code</b> Web App.
      </p>

      <ul>
        <li>
          The route for this page is defined inside <code>start/routes.ts</code> file
        </li>

        <li>
          You can update this page by editing <code>resources/views/welcome.edge</code> file
        </li>

        <li class="flex">
          <p color="purple">AdonisJS</p>
          <p color="deep-blue">TypeScript</p>
          <p color="yellow">Javascript</p>
          <p color="red">CSS</p>
          <p color="green">SCSS</p>
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
