@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

body:before {
  content: '';
  background: #5A45FF;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}

main {
  max-width: 620px;
  margin: auto;
  height: 100vh;
  //padding: 0 30px;
  //align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161A;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}
main {
  display: flex;
  flex-direction: column;
}

main form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: flex-start;
  margin-bottom: 20px;
  border: 2px solid #5A45FF;
  padding: 20px;
}
main form h2 {
  margin-left: 0;
  min-width: 120px;
}

main form label {
  width: max-content;
  min-width: max-content;
}

main form input {
  padding-left: 20px;
}

main form button {
  min-width: 120px;
}
main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}

p[color="purple"] {
  background: #5A45FF;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}
p[color="deep-blue"] {
  background: #136dd5;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}
p[color="yellow"] {
  background: #ffca00;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}
p[color="red"] {
  background: #e70a49;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}
p[color="green"] {
  background: #10d366;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.flex {
  display: flex;
  gap: 20px;
}
